{% extends "main/layout.html" %}

{% block title %}
Ticket prices:™
{% endblock %}


{% block content %}
<div class="features">
    <div class="container">

        <!--        <h1>Packages™</h1>-->
        <div class="row">
            {% for el in button %}
            <div class="col">
                <div class="alert alert-info">
                    <h3>{{el.title}}</h3>
                    <p>{{el.full_text}}</p>
                    <h3><b>{{el.price}}</b></h3>
                </div>
            </div>
            {% endfor %}
        </div>

        <p align="center">
        <form>


            <label><h2>BOOKING FORM</h2></label>
            <br><br>
        <div class="one-third-width">
                <label for="day">Date</label>
                <input type="number" min="1" max="31" id="day" name="day" value="17">
            </div>
            <div class="one-third-width">
                <label for="month">Month</label>
                <input type="number" min="01" max="12" id="month" name="month" value="07">
            </div>
            <div class="one-third-width">
                <label for="year">Year</label>
                <input type="number" min="2022" max="2030" id="year" name="year" value="2022">
            </div>
        <br><br>
            <label><h3>Choose a ticket type:</h3></label>
            <script type="text/javascript">
                var a,b;
                function foo(c) {
                if (a != c) {b = 0;a = c};
                b ^= 1;
                c.checked = b
                };
            </script>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="standart_adult" id="standart_adult"
                       value="249" onclick="foo(this)">
                <label class="form-check-label" for="standart_adult">Standart(AED249)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="standart_child" id="standart_child"
                       value="219" onclick="foo(this)">
                <label class="form-check-label" for="standart_child">
                    Standart Child(AED219)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="combo_adult" id="combo_adult" value="275" onclick="foo(this)">
                <label class="form-check-label" for="combo_adult">
                    Combo(AED275)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="combo_child" id="combo_child" value="255" onclick="foo(this)">
                <label class="form-check-label" for="combo_child">
                    Combo Child (AED255)
                </label>
            </div>

            <br> <br>


            <div class="one-third-width">
                <label for="adult">Adult</label>
                <input type="number" min="0" max="50" id="adult" name="adult" value="0">

            </div>
            <div class="one-third-width">
                <label for="child">Child</label>
                <input type="number" min="0" max="50" id="child" name="child" value="0">
            </div>
            <p>-----------------------------------------------</p>
            <p>TOTAL PRICE:</p>
            <p id='totalPrice'></p><h5>AED</h5>

            <!--            <div class="buttons">-->
            <input type="submit" id="bookBtn" value="BOOK">
            <!--            </div>-->

        </form>
    </div>
</div>
</div>
<script type="text/javascript">
    document.getElementById("bookBtn").onclick = function () {
        cost = 0
        if (document.getElementById('standart_adult').checked)
        {cost+=(249*document.getElementById('adult').value);
        }
        if (document.getElementById('standart_child').checked)
        {cost+=(219*document.getElementById('child').value);
        }
        if (document.getElementById('combo_adult').checked)
        {cost+=(275*document.getElementById('adult').value);
        }
        if (document.getElementById('combo_child').checked)
        {cost+=(255*document.getElementById('child').value);
        }

        document.getElementById('totalPrice').innerText = cost ;
        return false;
    };


</script>


{% endblock %}
