{% extends "main/layout.html" %}

{% block title %}
Ticket prices:™
{% endblock %}


{% block content %}
<div class="features">
    <div class="container">

        <!--        <h1>Packages™</h1>-->
        <div class="row">
            {% for el in button %}
            <div class="col">
                <div class="alert alert-info">
                    <h3>{{el.title}}</h3>
                    <p>{{el.full_text}}</p>
                    <h3><b>{{el.price}}</b></h3>
                </div>
            </div>
            {% endfor %}
        </div>

        <p align="center">
        <form>

            <label><h2>BOOKING FORM</h2></label>
            <label for="type">Choose a ticket type:</label>
            <div class="one-third-width" for="type">
                <select name="Ticket type" id="type">
                    <option value=""></option>
                    <option value="Standart">Standart</option>
                    <option value="Combo">Combo</option>
                </select>
            </div>
            <br> <br> <br>

            <div class="one-third-width">
                <label for="day">Date</label>
                <input type="number" min="1" max="31" id="day" name="day" value="17">
            </div>
            <div class="one-third-width">
                <label for="month">Month</label>
                <input type="number" min="01" max="12" id="month" name="month" value="07">
            </div>
            <div class="one-third-width">
                <label for="year">Year</label>
                <input type="number" min="2022" max="2030" id="year" name="year" value="2022">
            </div>
            <div class="one-third-width">
                <label for="adult">Adult</label>
                <input type="number" min="1" max="50" id="adult" name="adult" value="0">
            </div>
            <div class="one-third-width">
                <label for="child">Child</label>
                <input type="number" min="1" max="50" id="child" name="child" value="0">
            </div>
        <p>-----------------------------------------------</p>
            <p>TOTAL PRICE:</p>
            <p></p>
            <div class="buttons">
                <input type="submit" value="BOOK">
            </div>

        </form>
    </div>
</div>
</div>


{% endblock %}