{% extends "main/layout.html" %}

{% block title %}
<h1>About us™</h1>
{% endblock %}


{% block content %}
<div class="features">
    <a href="{% url 'button_home' %}"><button class="btn btn-info">BOOK NOW</button></a>
    <h1>Wild Wadi Waterpark™</h1>
    <h3>Learn all about Dubai's iconic waterpark</h3>
    <h3>Opp. Burj Al Arab, Jumeirah St, Umm Suqeim 3, Dubai</h3>
    <h3>+971 4 348 4444</h3>
    <br>

    <h3>Our promise to you</h3>
    <h5>Whenever you visit Wild Wadi, our aim is for you to experience the spirit of our waterpark through our
        colleagues and services. Discover our brand promise.</h5>


    <h3>Our Awards</h3>
    <h5>Wild Wadi is the first waterpark to be ISO certified. Throughout the last 10 years, the park has won many local
        and International awards for its safety, technology & innovation, quality, training, and human resources
        programs.</h5>

    <h5>Wild Wadi won The 2007 Dubai Quality Award Gold.</h5>


    <h3>Fun Facts</h3>
    <h5>Wild Wadi is all about fun and making our guests’ day fun and memorable. The park has many fun facts that you
        might not know about, click here to find out!</h5>


    <h3>Tell us what you think</h3>
    <h5>Have you been to Wild Wadi and enjoyed your day with us? Tell us about your experience and share it with
        everyone!


        <h3>Our Colleagues</h3>
        <h5>Our mission is to make your day Fun and Memorable! And to ensure good service and interaction with our
            international guests, our colleagues come from 41 different nationalities, bringing with them a great wealth
            of knowledge and cultural diversity.</h5>




</div>
{% endblock %}