{% extends "main/layout.html" %}

{% block title %}
Contacts™
{% endblock %}
{% block content %}
<div class="features">

    <h1>Wild Wadi Waterpark™</h1>
    {% for val in values %}
    <h4>{{val}}</h4>
    {% endfor %}

    <br><br><br><br><br><br><br><br><a href="{% url 'button_home' %}"><button class="btn btn-info">BOOK NOW</button></a><br><br><br><br><br><br>
    <h6>If you have any questions - write to us,<br> we will be happy to answer you in Chat, WhatsApp or Viber +971561420767 </h6>

</div>
{% endblock %}

