{% extends "main/layout.html" %}

{% block title %}
Main page™
{% endblock %}


{% block content %}
<div class="features">

    <h1>Wild Wadi Waterpark™</h1>
    <h3>Wild Wadi Waterpark™ welcomes you and your family back for unforgettable aquatic adventures in one of Dubai’s
        most
        iconic waterparks
    </h3>

   <img src="https://media.tacdn.com/media/attractions-splice-spp-674x446/09/35/0f/b5.jpg" width="400" height="300" >
    <img src="https://i.ytimg.com/vi/jtvc4-EOYtk/maxresdefault.jpg" width="400" height="300">
    <img src="https://cache-graphicslib.viator.com/graphicslib/media/48/fun-times-photo_14697288-1536tall.jpg" width="400" height="300">
    <img src="https://media.tacdn.com/media/attractions-splice-spp-674x446/06/75/b7/e8.jpg" width="400" height="300">
    <br><br>
    <a href="{% url 'button_home' %}"><button class="btn btn-info">BOOK NOW</button></a>
    <br><br>

    <h4>Visit one of Dubai's most cozy and favorite water parks - Wild Wadi. Located next to the world-famous Burj al-Arab Hotel, it will give you a sea of great mood, an adrenaline rush and wonderful attractions for visitors of all ages.

The name of the park has long been a household name, and the complex itself is considered almost the most popular water park in the UAE. In addition to everything will be a magnificent view of the surrounding attractions and a huge swimming pool with an artificial wave imitating the sea wave.
    </h4>
</div>
{% endblock %}